/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/



body {
    margin: 0;
    text-align: center;
    font-family: 'oswald', sans-serif;
}

img {
    width: 100px;
    height: 100px;
}

#hero {

    background-image: url("./images/arbor-mansion.jpg");
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#F1FAEE ;
    justify-content: center;

}

h1 {
    
    background-color: #1D3557;
    padding: 5px 15px;
    border-radius: 8px;
    margin: 0px;

}

h2 {
    margin-top: 12px;
    background-color:#457b9d;
    border-radius: 8px;
    padding: 5px 10px;
}


.activities-section {
    display: flex;
    flex-direction: column;
    background:  #F1FAEE;
    font-size: 24px;
}

.activities {
margin-top: 25px;
display: flex;
justify-content: space-around;
font-size: 16px;
}

.activities-info {
    width: 225px;
}



.activities img {
    border-radius: 50%;
    background-color: white;
}

.activities img:hover {
    opacity: .5;
}

.bold {
    font-weight: 700;
}

.guide-section {
    display: flex;
    justify-content: center;
    
}

.info-card {
    background-color:#457b9d ;
    display: flex;
    align-items: center;
   
   

}

.info-card img {
    padding: 25px 25px ;
}

.guide-info {
    width: 190px;
}
